@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Moonrocks&display=swap');

:root {
    --bg: #FAF3EB;
    --color-nav: #F9DFDF;
    --gradiente: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    --color-secundario: #FDACAC;
    --color-extra: #C599B6;
    --color-titulos:#ADB2D4;

}

/*Estilos Generales*/
body {
    font-family: 'montserrat', 'sans-serif';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg);
}

main {
    flex-grow: 1;
}

/*Estilos del NAV*/

.fondo-nav {
    background-color: var(--color-nav);
}

.brand-fuente {
    font-family: "Rubik Moonrocks", sans-serif;
    font-size: 1.6rem;
    background: var(--gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-custom {
    color: #C599B6;
    font-size: 2rem;
}

/* estilos cartelera productos */

.titulo-cartelera {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 200;
    color: #ADB2D4;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    padding: 20px;
}
.img-alfajores{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.figcaption-alfajor{
    color: var(--color-titulos);
}
/*Estilos del footer*/
.icon-color {
    color: var(--color-secundario);
}

.footer {
    background-color: var(--color-nav);
    font-size: 1rem;
}